<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../auth.js" defer></script>
    <title>Signup Page</title>
  </head>
  <body>
    <form id="signup-form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </form>

    <button type="button" id="signup-button">Submit</button>
  </body>
</html>
